.card {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;

  @include lg {
    justify-content: center;
    max-width: 700px;
    margin: 0 auto;
  }

  &__wrapper {
    min-height: 360px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    transition: .35s;
    padding: 2rem;
    &.change {
      transform: scale(.9);
      opacity: 0;
      transition: .35s;
    }
  }

  &__conditional--controller{
    width: 100%;
    input[type=number]{
      margin-right: 1rem;
      max-width: 60px;
    }
  }

  &__error{
    margin: 0;
    left: 0;
    width: 100%;
    bottom: 0;
    text-align: center;
    position: absolute;
    animation: appear .35s cubic-bezier(0.215, 0.610, 0.355, 1);
  }

  &--start{
    text-align: center;
  }

  &--dayCount,
  &--peopleCount{
    .radio__wrapper {
      flex-direction: column;
      @include lg {
        width: 100%;
        flex-direction: row;
      }
    }
  }

  &--summary {
    max-height: 50vh;
    align-items: initial;
    overflow-y: auto;

    &__question {
      padding-bottom: 1rem;
    }
    @include xl {
      justify-content: initial;
      max-height: initial;
    }
  }

}

@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(50%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}